# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Build and test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        java: [17, 21, 24]
        exclude:
          - os: macos-latest
            java: 21
          - os: windows-latest
            java: 21
          - os: macos-latest
            java: 24
          - os: windows-latest
            java: 24

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK
      uses: actions/setup-java@v5
      with:
        java-version: ${{ matrix.java }}
        distribution: 'temurin'
        cache: 'maven'
    - name: Build with Maven
      run: mvn -B package
    - uses: actions/upload-artifact@v4
      with:
        name: log-camel-dap-${{ matrix.java }}.log
        path: /tmp/log-camel-dap.log
        if-no-files-found: error
      if: ${{ always() && runner.os == 'Linux' }}
